body{
    background-color: whitesmoke;
}
.success{
    display: flex;
    background-color: rgb(213, 253, 152);
    color: green;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 8px;
}

.header{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.dashboard{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0,0, 0, 0.3);
}
.dashboard img{
    height: 230px;
    width: 230px;
    border-radius: 10px;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 15px;
}
.flex{
    display: flex;
    justify-content: center;
}
.btn{
    background-color: rgb(231, 226, 226);
    text-align: center;
    padding: 10px 10px;
    border-radius: 8px;
    margin-top: 9px;
    text-decoration: none;
    font-size: 20px;
}
.btn:active{
    color: black;
}
.btn:hover{
    background-color: rgb(175, 172, 172);
}
.dashboard p{
    font-size: 18px;
}